<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-white-50">
            <p class="footer-heart">
                Made by Matts &copy; 2022
              </p>
        </span>
    </div>
</footer>

